<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"envhub-blocks/hero"} /-->

<!-- wp:pattern {"slug":"envhub-blocks/mission-vision"} /-->

<!-- wp:pattern {"slug":"envhub-blocks/core-activities"} /-->

<!-- wp:pattern {"slug":"envhub-blocks/director-message"} /-->

<!-- wp:pattern {"slug":"envhub-blocks/blog-highlights"} /-->

<!-- wp:pattern {"slug":"envhub-blocks/partners"} /-->

<!-- wp:pattern {"slug":"envhub-blocks/cta"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
